* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

H1  {
    color: darkblue;
    font-weight: bolder;
    font-size: 75px;
    text-transform: inherit;
    text-align: center;
    font-family: 'Lobster', cursive;
    text-transform: capitalize;
    text-shadow: black;

    grid-template: auto;
    background-image: linear-gradient(to right, rgb(247, 239, 239) , rgba(68, 0, 255, 0.247));
}

h2 {
    text-align: right;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.conocenos1 {
    text-align: center;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkblue;
    background-image: linear-gradient(to right, rgb(247, 239, 239) , rgba(68, 0, 255, 0.247));
}

.conocenos2 {
    text-align: left;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    background-color: rgb(223, 217, 217);
}

h3{
    text-align: right;
    color: blue;
}

h4 {
    text-align: center;
    color: royalblue;
    font-family: monospace;
    font-size: 55px;
    }

    h6 {
        text-align: right;
        font-size: larger;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
    }

    img {
        width: 100%;
    }

    .ss1  {
        text-decoration: underline;
        font-size: 2cm;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: darkblue;
        background-image: linear-gradient(to right, rgb(247, 239, 239) , rgba(68, 0, 255, 0.247));
    }
    
    .ss2 {
        text-align: left;
        color:darkblue;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 25px;
        text-decoration-line: underline;
        padding-top: 25px;
    }
    
    .ss3 {
        text-align: left;
        padding-top: 25px;
        color: black;
        font-family: Arial, Helvetica, sans-serif; 
        font-size: 20px;
        background-image: linear-gradient(to right, rgb(163, 186, 221) , rgba(173, 116, 41, 0.247));

    }
    .ss4 {
        text-align: left;
        color: black;
        font-family: Arial, Helvetica, sans-serif; 
        font-size: 25px;
        margin-top: 25px;
      
    }
    .esp1 {
        text-align: center;
        font-size: 50px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: darkblue;
        background-image: linear-gradient(to right, rgb(247, 239, 239) , rgba(68, 0, 255, 0.247));
        text-decoration-line: underline;
        
    }
    
    .esp2 {
        text-align: left;
        color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 25px;
        padding-top: 25px;
        font-style: italic;
        white-space: nowrap;
        background-color: lavender;
    }

    .grid-container {
        display: grid; /* habilita grid */
        max-width: 50px;
        background-color: cadetblue;
        grid-template-columns: 100px 200px 100px; /* cuantas columna y medida */
    
        grid-template-rows: auto auto; /* cuantas filas y medida */
    }
    
    .grid-item {
        background-color: cadetblue;
        border: 1px solid black;
        text-align: center;
    }
    
    .grid-item-1 {
        grid-column: 1 / 3; /* comience en col1 y termine antes d la 3*/
        grid-row: 1 / 3; /* comience en fila 1 y termine antes de la 3 */
        border: 2px solid blanchedalmond;
        
      /*   grid-area: 1 / 2 / 3 / 3; */
    }
    .grid-item-4 {
        grid-area: auto;
        text-underline-position: below;
    }

    .social {
        width: 100px;
        display: flex;
        justify-content: right;
        flex-wrap: wrap;
        
    }
    .nav {
        display: flex;
        width: 100px;
        justify-content: left;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        font-variant: small-caps;
        
        text-decoration-style: wavy;
        
        
        
        transition: all 3s;
        margin: 50px auto;
        transform-origin: left right;
        transform: skewX(-20deg);
        
    }
    

    .contacto  {
        color:darkgreen;
        font-size: 25px;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgba(223, 135, 135, 0.712);

           
    }

    .form {
        background-color: rgb(132, 166, 218);
    }

    .fieldset{
        margin-top: 25px;
    }

    .label{
        
    }
    .fixed:hover {
        transform: translate(10px, 20px);
    }
  
    .form-row {
        margin-top: 50px;
        color: rgb(7, 7, 7);
        font-size: 25px;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        }
    .button {
        font-size: 50px;
        position: relative;
        margin-top: 15px;
        color: rgb(27, 23, 241);
        background-color: rgb(239, 205, 255);
    }    

     
    .botVolver {
        color: #051842;
        font-size: 25px;
        margin-top: 20px;
        margin-left: 10px;
        padding: 10px;
        font-style: oblique;
    }
    .botVolver:hover {
        background-color: rgb(54, 113, 241);
        
    }
        

       
    .carousel-item active{
        margin-top: 15px;
    }
    
    .carousel-item active {
        size: 20px;
    }
    .carousel-inner {
    size: 20px;
    }

   
   

/* header */


  
  @mixin header {
    width: 100%;
    height: 100px;
    padding: 10px; }
  
  
  
  .flexMenu li a {
    text-decoration: none;
    color: #4c00ff; }
  
 